@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme(
  "default",
  (
    primary: white,
    secondary: yellow,
    accent: green
  )
);

@import "~vue-material/dist/theme/all"; // Apply the theme
